@import "../variables.css";

.dropdown-container {
  position: relative;
  display: inline-block;
 

}

.dropdown-icon {
  background: none;
  border: none;
  color: aqua;
  cursor: pointer;
}

.dropdown-menu {
  display: block !important;
  position: absolute ;
  top: 90%;
  left: 10%;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #007bff;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
  background-color: #007bff;
  color: #fff;
}

/* Ajustes para tamaño de pantalla pequeño */
@media (min-width: 992px) {
  .dropdown-container {
      display: none;
  }
}
